$myFont: Courier;
$myColor: purple;
$myBgColor: pink;
$myFontSize: 18px;
$myWidth: 512px;

body {
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}

.container {
    width: $myWidth;
    background: $myBgColor;
}

p {
    $myColor: green;
    $myColor: orange !global; /* Overrides $myColor */

    color: $myColor;
}

h2 {
    color: $myColor;
}

.nesting-examples {
    .paragraph-1 {
        background: lightgray;
    }
    .paragraph-2 {
        background: orange;
    }
    .paragraph-3 {
        background: yellow;
    }
}

.prefix-examples {
    font: {
        family: sans-serif;
        size: 12px;
        weight: bold;
    }

    text: {
        align: center;
        transform: lowercase;
    }
}