$myFont: Courier;
$myColor: purple;
$myBgColor: pink;
$myFontSize: 18px;
$myWidth: 512px;

body {
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}

.container {
    width: $myWidth;
    background: $myBgColor;
}

p {
    $myColor: green;
    $myColor: orange !global; /* Overrides $myColor */

    color: $myColor;
}

h2 {
    color: $myColor;
}

.nesting-examples {
    .paragraph-1 {
        background: lightgray;
    }
    .paragraph-2 {
        background: orange;
    }
    .paragraph-3 {
        background: yellow;
    }
}

.prefix-examples {
    font: {
        family: sans-serif;
        size: 12px;
        weight: bold;
    }

    text: {
        align: center;
        transform: lowercase;
    }
}

@import 'importExample';

.import-examples {
    color: $sampleColor;
    background: $sampleBg;
}

@mixin angry-text {
    color: red;
    background: pink;
    font-size: 48px;
    text-transform: uppercase;
}

@mixin bordered($color, $width) {
    border: $width solid $color;
}

@mixin spacing($pad: 8px, $mar: 8px) {
    padding: $pad;
    margin: $mar;
}

.mixin-examples {
    @include angry-text;
    @include bordered(red, 4px);
    @include spacing($mar: 16px);
}